.auto {
  position: relative;
  z-index: 1;
  height: 892px;
  overflow: hidden;
}

.auto__sun {
  position: absolute;
  z-index: -1;
  left: ~"calc(50% - 310px)";
  top: 0;
}

.auto__birds {
  position: absolute;
  z-index: 2;
  left: ~"calc(50% - 287px)";
  top: 115px;
}

.auto__yellow {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1913px;
  height: 379px;
  
  img {
    display: block;
    width: 1913px;
    height: 379px;
  }
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 99%;
    width: 50vw;
    height: 194px;
    background-color: @yellow;
  }
}

.auto__green {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
  height: 773px;
  
  img {
    display: block;
    width: 1920px;
    height: 773px;
  }
  
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 522px;
    background-color: @green;
  }
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 99%;
    width: 50vw;
    height: 707px;
    background-color: @green;
  }
}

.auto__text {
  position: relative;
  z-index: 10;
  padding-top: 405px;
  max-width: 460px;
  color: #fff;
  
  span {
    color: @yellow;
  }
}

.auto__title {
  margin-top: 0;
  font-size: 36px;
  line-height: 42px;
  font-weight: 500;
  color: #fff;
}

.auto__club {
  margin-bottom: 45px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}
