.benefits {
  padding-top: 120px;
  padding-bottom: 177px;
}

.benefits__list {
  .reset();
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 165px;
}

.benefits__item {
  width: 20%;
  color: #000;
  
  p {
    margin: 0;
  }
}

.benefits__img {
  height: 171px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
