.car {
  background-color: @yellow;
  
  .title span {
    display: block;
    color: #fff;
  }
}

.car__wrap {
  position: relative;
  padding-top: 110px;
  padding-bottom: 120px;
}

.car__info {
  margin-top: 65px;
  max-width: 500px;
  
  span {
    color: #fff;
  }
}

.car__img {
  position: absolute;
  bottom: 70px;
  right: 0;
}
