.faq {
  padding-top: 70px;
  padding-bottom: 90px;
}

.faq__title {
  margin-top: 0;
  margin-bottom: 32px;
  padding-left: 55px;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.02em;
  color: #000;
  font-weight: 500;
}

.faq__columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 55px;
}

.faq__list {
  .reset();
  list-style: none;
  width: 47%;
}

.faq__item {
  border-bottom: 1px solid #000000;
  
  &:last-child {
    border-bottom: 0;
  }
  
  &--first {
    .faq__answer {
      display: block;
    }
  }
  
  &--open {
    border-color: rgba(255,255,255,0);
    
    .faq__question {
      &::before {
        left: -50px;
        opacity: 1;
        .transition();
      }

      &::after {
        opacity: 1;
        .transition();
      }
    }
    
    .faq__answer {
      &::before {
        opacity: 1;
        .transition();
      }
    }
  }
}

.faq__question {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 80px;
  margin: 0;
  padding: 15px;
  padding-left: 0;
  font-weight: 500;
  cursor: pointer;
  
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -100px;
    transform: translateY(-50%);
    width: 31px;
    height: 37px;
    background-image: url(../img/icons/next-black.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    .transition();
  }
  
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: -35px;
    right: 0;
    top: -2px;
    bottom: 0;
    background-color: #FFC856;
    opacity: 0;
    .transition();
  }
}

.faq__answer {
  display: none;
  position: relative;
  z-index: 2;
  padding: 20px 35px;
  padding-left: 0;
  color: #000;
  
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: -35px;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px solid #FFC856;
    opacity: 0;
    .transition();
  }
}
