.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  color: #001E20;
  background-color: #fff;
}

.header--main .logo svg {
  fill: @black;
}

.header--portfolio {
  .logo svg {
    fill: @green;
  }
  .menu__item {
    &:nth-child(4) {
      background-color: @green;

      .menu__link {
        color: #fff;

        &::before,
        &::after {
          width: 100%;
          opacity: 1;
          background-color: #fff;
        }
      }
    }
    &:hover:nth-child(4) .menu__link,
    &:active:nth-child(4) .menu__link {
      color: #fff;

      &::before,
      &::after {
        background-color: #fff;
      }
    }
  }
}

.header--blacklist {
  .logo svg {
    fill: @black;
  }
  .menu__item {
    &:nth-child(6) {
      background-color: @black;

      .menu__link {
        color: #fff;

        &::before,
        &::after {
          width: 100%;
          opacity: 1;
          background-color: #fff;
        }
      }
    }
  }
}

.header--member {
  .logo svg {
    fill: @red;
  }
  .menu__item {
    &:nth-child(2) {
      background-color: @red;

      .menu__link {
        color: #fff;

        &::before,
        &::after {
          width: 100%;
          opacity: 1;
          background-color: #fff;
        }
      }
    }
    &:hover:nth-child(2) .menu__link,
    &:active:nth-child(2) .menu__link {
      color: #fff;

      &::before,
      &::after {
        background-color: #fff;
      }
    }
  }
}

.header--client {
  .logo svg {
    fill: @yellow;
  }
  .menu__item {
    &:nth-child(3) {
      background-color: @yellow;

      .menu__link {
        &::before,
        &::after {
          width: 100%;
          opacity: 1;
          background-color: @black;
        }
      }
    }
    &:hover:nth-child(3) .menu__link,
    &:active:nth-child(3) .menu__link {
      color: @black;
      
      &::before,
      &::after {
        background-color: @black;
      }
    }
  }
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  display: block;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1;
  border: 1px solid #000000;
  .transition();
  
  &:hover,
  &:active {
    color: #fff;
    background-color: #001E20;
    .transition();
  }
}
