.how {
  padding-top: 60px;
  padding-bottom: 30px;
}

.how__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.how__info {
  width: 900px;
  font-size: 24px;
  font-weight: 500;
}

.how__img img {
  width: 452px;
  height: 451px;
}
