.ksf {
  padding-top: 135px;
  padding-bottom: 150px;
  color: #fff;
  background-color: #001E20;
  
  .title {
    margin-bottom: 96px;
    color: #FF513F;
  }
}

.ksf__wrap {
  position: relative;
}

.ksf__column {
  max-width: 615px;
  
  span {
    color: #FF513F;
  }
  
  p {
    margin-bottom: 37px;
  }
}

.ksf__block {
  width: 546px;
  margin-top: 55px;
  margin-bottom: 99px;
  padding: 30px 34px;
  color: @yellow;
  border: 1px solid #FFFFFF;
  
  b {
    display: block;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
  }
  
  p {
    margin: 0;
  }
}

.ksf__btns {
  display: flex;
  justify-content: space-between;
}

.ksf__btn {
  width: 48%;
  height: 69px;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 69px;
}

.ksf__img {
  position: absolute;
  right: 30px;
  top: 55px;
  
  img {
    width: 420px;
    height: 420px;
  }
}

.ksf__crab {
  position: relative;
  
  &::before {
    content: "";
    position: absolute;
    top: -55px;
    right: 0;
    width: 68px;
    height: 68px;
    background-image: url(../img/images/crab.svg);
    background-repeat: no-repeat;
    background-size: contain
  }
}
