@media (max-width: 1600px) {
  .modal__block {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .modal__phone,
  .modal__link {
    font-size: 24px;
    line-height: 28px;
  }
}
@media (max-width: 1300px) {
  .modal__vertical {
    height: 100px;
    width: auto;
  }
}

//---------------------------------------------
@media (max-width: 1170px) {
  .wrapper {
    width: 100%;
  }
  .menu__btn {
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    
    &--open {
      display: flex;
    }
    &--close {
      display: none;
    }
  }
  .menu__list {
    display: none;
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;
    right: 0;
    min-height: 100vh;
    padding-left: 45px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #fff;
  }
  .menu__item {
    position: relative;
    padding-left: 40px;
    padding-top: 0;
    padding-bottom: 0;
    
    &::before {
      content: "";
      position: absolute;
      top: 11px;
      left: 0;
      width: 14px;
      height: 14px;
      display: block;
    }
    &:first-child {
      &::before {
        left: -2px;
        top: 9px;
        width: 20px;
        height: 20px;
        background-image: url(../img/icons/icon-label.svg);
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    &:nth-child(2) {
      &::before {
        background-color: @red;
        transform: rotate(45deg);
      }
    }
    &:nth-child(3) {
      &::before {
        background-color: @yellow;
        transform: rotate(45deg);
      }
    }
    &:nth-child(4) {
      &::before {
        background-color: @green;
        transform: rotate(45deg);
      }
    }
    &:last-child,
    &:nth-child(5) {
      &::before {
        background-color: #fff;
        border: 1px solid #000;
        transform: rotate(45deg);
      }
    }
    &:nth-child(6) {
      &::before {
        background-color: @black;
        transform: rotate(45deg);
      }
    }
    &:last-child {
      .menu__link {
        border: 0;
        padding: 7px 0;
      }
      &::before {
        top: 8px;
      }
    }
  }
  .menu__link {
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
  }
  .menu__item:last-child .menu__link {
    &:hover,
    &:active {
      background-color: #fff;
      color: #000;
      
      &::before,
      &::after {
        opacity: 1;
        width: 100%;
        .transition();
      }
    }
  }
  .header {
    padding-top: 12px;
    padding-bottom: 12px;
    
    &--main {
      .line-top {
        fill: #007550;
      }
      .line-middle {
        fill: #001E20;
      }
      .line-bottom {
        fill: #FF513F;
      }
    }
    .line-black {
      fill: #001E20;
    }
    .line-green {
      fill: #007550;
    }
    .line-red {
      fill: #FF513F;
    }
  }
  .header--portfolio {
    .line-top,
    .line-middle,
    .line-bottom {
      fill: @green;
    }
    .menu__item:nth-child(4) {
      background-color: rgba(255,255,255,0);
      
      .menu__link {
        color: @green;
        
        &::before,
        &::after {
          background-color: @green;
        }
      }
    }
  }
  .header--blacklist {
    .menu__item:nth-child(6) {
      background-color: rgba(255,255,255,0);
      
      .menu__link {
        color: @black;
        
        &::before,
        &::after {
          background-color: @black;
        }
      }
    }
  }
  .header--whitelist {
    .logo {
      width: 114px;
      height: 36px;
      background-image: url(../img/images/logo-whitelist.svg);
      background-repeat: no-repeat;
      background-size: contain;
      
      svg {
        opacity: 0;
      }
      
      &--open {
        background-image: none;
        
        svg {
          opacity: 1;
        }
      }
    }
    .line-top,
    .line-middle,
    .line-bottom {
      fill: none;
      stroke: @black;
    }
  }
  .header--member {
    .line-top,
    .line-middle,
    .line-bottom {
      fill: @red;
    }
    
    .menu__item:nth-child(2) {
      background-color: rgba(255,255,255,0);
      
      .menu__link {
        color: @red;
        
        &::before,
        &::after {
          background-color: @red;
        }
      }
    }
  }
  .header--client {
    .line-top,
    .line-middle,
    .line-bottom {
      fill: @yellow;
    }
    
    .menu__item:nth-child(3) {
      background-color: rgba(255,255,255,0);
      
      .menu__link {
        color: @yellow;
        
        &::before,
        &::after {
          background-color: @yellow;
        }
      }
    }
  }
  .logo--open {
    .logo__black {
      fill: @black;
      .transition();
    }
    .logo__red {
      fill: @red;
      .transition();
    }
    .logo__yellow {
      fill: @yellow;
      .transition();
    }
    .logo__green {
      fill: @green;
      .transition();
    }
  }
  .promo__info {
    margin-right: 40px;
  }
  .show__list {
    justify-content: space-around;
  }
  .show__item {
    margin-right: 0;
  }
  .car__img,
  .person__field::after {
    right: 0;
  }
  .person__wrap {
    max-width: 650px;
  }
  .ksf__circle,
  .ksf__img {
    width: 350px;
    height: 350px;
  }
  
  .promo--portfolio {
    .promo__wrap {
      padding-bottom: 100px;
    }
  }
  .portfolio__list,
  .portfolio__nav {
    justify-content: space-around;
    margin-right: 0;
    
    li {
      margin-right: 0;
    }
  }
  .promo--blacklist::after {
    transform: translateX(475px);
  }
  .blacklist__list {
    justify-content: space-around;
    margin-right: 0;
    
    li {
      margin-right: 0;
    }
  }
  .promo--member .promo__info {
    margin-right: 0;
    width: 500px;
  }
  .promo--main .promo__wrap::after {
    left: 200px;
  }
  .price__head {
    padding: 40px 15px;
  }
  .price__column--profy .price__list {
    padding-left: 0;
  }
  .price__column--newby {
    .price__list {
      padding-right: 0;
    }
    .price__item {
      padding-left: 42px;
      
      &::before {
        left: 15px
      }
    }
  }
  .recommend__deco {
    padding-bottom: 110px;
    padding-top: 110px;
    
    &::before {
      right: -160px;
    }
  }
  .promo--client .promo__info {
    margin-right: 0;
    width: 550px;
    max-width: 100%;
  }
  .promo--client .promo__links::after,
  .promo--member .promo__links::after {
    display: none;
  }
  .project__work,
  .project__presentation {
    width: 498px;
  }
}

//-----------------------------------------------------------
@media (max-width: 1022px) {
  .promo__preview {
    margin-top: 650px;
  }
  .promo__info {
    position: relative;
  }
  .promo--member .promo__links,
  .promo__links {
    margin-top: 0;
    position: absolute;
    top: 400px;
    left: 50px;
    right: auto;
  }
  .promo--main .promo__wrap::after {
    left: 0;
    width: 600px;
    bottom: -125px;
  }
  .fact::after {
    display: block;
    right: -50px;
    left: auto;
    top: 51%;
    transform: translateY(-50%);
  }
  .fact::before {
    width: 3840px;
    height: 960px;
    left: ~"calc(50vw - 1920px)";
    background-color: #FFC856;
    transform: rotate(-15deg) scale(1.2) translateY(-308px);
    background-image: none;
  }
  .fact {
    padding-bottom: 150px;
  }
  .recommend__img {
    top: 0;
  }
  .person__list {
    margin-top: 1300px;
  }
  .person__field::after {
    left: 15px;
    right: auto;
    top: 630px;
  }
  .car__img {
    position: relative;
    bottom: 0;
    
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .car__question {
    left: 45%;
    transform: translateX(-50%);
  }
  .benefits__item {
    width: 220px;
  }
  .benefits__list {
    flex-wrap: wrap;
  }
  .life__number {
    margin-bottom: 500px;
  }
  .life__wrap {
    position: relative;
  }
  .life__img {
    margin-top: 0;
    position: absolute;
    left: 0;
    bottom: 200px;
  }
  .life__slogan {
    left: 30px;
  }
  .ksf {
    padding-top: 0;
  }
  .ksf__wrap {
    padding-top: 470px;
  }
  .ksf__img {
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
  }
  .footer {
    padding-bottom: 10px;
  }
  .footer__wrap {
    flex-direction: column;
  }
  .footer__block:last-of-type {
    text-align: left;
  }
  .footer__block {
    margin-bottom: 20px;
  }
  .promo--portfolio {
    .promo__text {
      margin-top: 600px;
    }
    &::after {
      transform: none;
      top: 297px;
      right: auto;
      left: -1015px;
    }
  }
  .promo--blacklist::after {
    transform: none;
    top: 297px;
    right: auto;
    left: -1015px;
  }
  .promo--whitelist .promo__text,
  .promo--blacklist .promo__text {
    margin-top: 600px;
  }
  .promo--blacklist .promo__wrap::after {
    left: 50%;
    transform: translateX(-50%);
  }
  .blacklist__list li {
    margin-right: 0;
  }
  .blacklist__nav li {
    margin-bottom: 20px;
  }
  .promo--member .promo__info {
    padding-top: 10px;
    width: 100%;
  }
  .promo--member h1 {
    position: static;
    width: auto;
  }
  .promo__list {
    margin-top: 550px;
    padding-left: 40px;
    max-width: 330px;
    
    li {
      padding-left: 125px;
    }
  }
  .price__head {
    padding: 15px;
  }
  .price__item {
    font-size: 14px;
    line-height: 18px;
  }
  .payment__wrap {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .payment__block {
    width: 370px;
    
    &--profy {
      padding-top: 0;
    }
  }
  .payment__center {
    padding-top: 45px;
    margin-bottom: 45px;
  }
  .recommend__deco::before {
    display: none;
  }
  .rule__wrap,
  .pill__wrap {
    flex-direction: column;
    align-items: center;
  }
  .pill_info {
    width: 100%;
    margin-bottom: 86px;
  }
  .pill__img {
    padding-top: 85px;
    padding-bottom: 50px;
    top: 0;
  }
  .rule__img,
  .rule__info {
    width: 100%;
  }
  .rule__btn {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    
    + p {
      max-width: 447px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .promo--main .promo__img {
    display: none;
  }
  .promo--main .promo__wrap {
    padding-bottom: 250px;
  }
  .promo--client .promo__preview {
    margin-top: 650px;
  }
  .service__img {
    position: static;
    margin-bottom: 40px;
  }
  .order__img {
    position: static;
  }
  .order {
    background-image: linear-gradient(to top, #fff 0%, #fff 700px, @green 700px, @green 100%);
  }
  .promo--profile .promo__links {
    display: none;
  }
  .project .title-2 {
    padding-left: 104px;
  }
  .certificate__slider {
    width: 609px;
  }
  .project__wrap {
    flex-direction: column-reverse;
    margin-top: 80px;
  }
  .project__list,
  .project__presentation,
  .project__work {
    width: 545px;
    margin-left: auto;
    margin-right: auto;
  }
  .project__slide {
    justify-content: space-around;
  }
  .review__wrap {
    display: block;
  }
  .review__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .modal__vertical {
    height: 185px;
    width: auto;
  }
  .modal__logo {
    right: 0;
  }
  .modal__text {
    margin-left: 100px;
  }
}

//-----------------------------------------------------------
@media (max-width: 766px) {
  h1,
  .title {
    font-size: 36px;
    line-height: 42px;
  }
   .promo__links {
    top: 250px;
  }
  .promo__img {
    display: none;
  }
  .promo__wrap::after {
    width: 100%;
    bottom: -180px;
  }
  .how__wrap {
    display: block;
  }
  .how__info {
    width: 100%;
  }
  .fact__info {
    font-size: 18px;
    line-height: 24px;
  }
  .fact__title {
    font-size: 24px;
    line-height: 28px;
  }
  .fact {
    padding-bottom: 300px;
  }
  .fact::before {
    width: 5000px;
  }
  .fact::after {
    top: auto;
    bottom: 140px;
    right: 0;
    left: auto;
    transform: none;
    width: 312px;
    height: 257px;
  }
  .recommend__info {
    margin-bottom: 300px;
  }
  .recommend__img {
    left: 15px;
    top: 380px;
  }
  .recommend__line p:first-of-type {
    flex-grow: 0;
    width: ~"calc(100% - 170px)";
    overflow: hidden;
  }
  .person__title {
    flex-direction: column-reverse;
    align-items: flex-start;
    font-size: 24px;
    line-height: 28px;
  }
  .person__logo {
    margin-bottom: 50px;
  }
  .person__field::after {
    width: 276px;
    height: 976px;
  }
  .person__list {
    margin-top: 1100px;
  }
  .quality__wrap::before {
    display: none;
  }
  .benefits__list {
    margin-top: 70px;
  }
  .benefits__item {
    margin-bottom: 50px;
  }
  .benefits {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .reason__list {
    margin-top: 50px;
  }
  .reason__item {
    margin-bottom: 50px;
  }
  .ksf__block {
    font-size: 14px;
    line-height: 18px;
    
    b {
      font-size: 18px;
      line-height: 24px;
    }
  }
  .faq__columns,
  .ksf__btns {
    display: block;
  }
  .ksf__btn {
    width: 100%;
    margin-bottom: 30px;
  }
  .ksf {
    padding-bottom: 80px;
  }
  .faq__list {
    width: 100%;
  }
  .faq__item:last-child {
    border-bottom: 1px solid #000;
  }
  .recommend__line {
    font-size: 14px;
    
    span {
      width: 85px;
    }
    p:last-of-type {
      width: 90px;
    }
  }
  .promo__preview,
  .promo--whitelist .promo__preview {
    font-size: 24px;
    line-height: 28px;
  }
  .price__head {
    font-size: 14px;
    line-height: 18px;
  }
  .price__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
  }
  .price__column::before {
    left: 0;
  }
  .auto__text {
    top: 0;
  }
  .auto__sun {
    left: 0;
  }
  .auto__car {
    top: 0;
    right: 0;
  }
  .closed__wrap {
    display: block;
  }
  .closed__info,
  .closed__persons {
    width: 100%;
    padding-left: 0;
  }
  .closed__text {
    margin-bottom: 30px;
  }
  .closed__info {
    padding-bottom: 130px;
    margin-bottom: 30px;
    position: relative;
    
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 319px;
      height: 65px;
      background-image: url(../img/images/cross-mobile.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .closed__list {
    margin-top: 50px;
  }
  .closed {
    background-image: linear-gradient(-45deg, @red 0%, @red 50px, #fff 50px, #fff 51px, @red 51px, @red 100px, #fff 100px, #fff 101px, @red 101px, @red 150px, #fff 150px, #fff 151px, @red 151px, @red 200px, #fff 200px, #fff 201px, @red 201px, @red 250px, #fff 250px, #fff 251px, @red 251px, @red 100%);
  }
  .close__outside::before {
    display: none;
  }
  .auto__yellow,
  .auto__green {
    width: 2000px;
    height: auto;
    left: ~"calc(50% - 1000px)";
    bottom: 250px;
  }
  .auto {
    background-image: linear-gradient(to top, @green 0%, @green 250px, rgba(255,255,255,0) 250px, rgba(255,255,255,0) 100%);
  }
}

//-----------------------------------------------------------
@media (max-width: 480px) {
  .ksf__img {
    width: 319px;
    height: 319px;
    top: 60px;
  }
  .ksf__circle-logo {
    width: 250px;
    height: 75px;
    margin-top: 20px;
  }
  .btn {
    width: 100%;
  }
  .life__slogan {
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    line-height: 24px;
    
    &::before {
      width: 100%;
      left: 0;
      height: 100px;
    }
  }
  .life__number {
    margin-bottom: 300px;
  }
  .life__img {
    img {
      height: 224px;
      width: auto;
    }
  }
  .person {
    padding-top: 80px;
  }
  .person__field::after {
    top: 630px;
    left: 50%;
    transform: translateX(-50%);
  }
  .how__img,
  .how__img img {
    width: 265px;
    height: 265px;
  }
  .how__img {
    margin-left: auto;
    margin-right: auto;
  }
  .promo__wrap {
    padding-bottom: 102px;
  }
  .promo__wrap::after {
    height: 152px;
    bottom: -30px;
    right: -20px;
  }
  .promo__info {
    font-size: 14px;
    margin-right: 0;
  }
  .promo__slogan {
    margin-top: 62px;
    font-size: 18px;
    line-height: 24px;
  }
  .promo--whitelist .promo__preview,
  .promo__preview {
    margin-top: 440px;
    margin-bottom: 46px;
    font-size: 24px;
    line-height: 28px;
  }
  .promo--whitelist .promo__preview {
    margin-top: 0;
  }
  .promo--member .promo__links,
  .promo__links {
    left: 30px;
    top: 230px;
  }
  .promo__link {
    width: 140px;
    height: 140px;
  }
  .promo__link--red {
    top: 85px;
    right: -147px;
  }
  .promo__link--green {
    top: 85px;
    left: -49px;
  }
  .promo__link--yellow {
    bottom: -170px;
    right: -97px;
  }
  .promo__link--white {
    top: 85px;
    right: -49px;
  }
  .promo {
    padding-top: 62px;
  }
  h1,
  .title {
    font-weight: 500;
  }
  .logo svg {
    display: block;
    width: 114px;
    height: 36px;
  }
  .show {
    padding-top: 55px;
    padding-bottom: 50px;
  }
  .show__item {
    height: 180px;
    margin-bottom: 28px;
    
    &:nth-child(n + 4) {
      display: none;
    }
  }
  .show__btn {
    margin-top: 15px;
  }
  .how {
    padding-top: 45px;
    padding-bottom: 52px;
    
    .title {
      max-width: 200px;
    }
  }
  .how__info {
    font-size: 18px;
    font-weight: 400;
  }
  .fact {
    padding-top: 60px;
    background-image: url(../img/images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
  }
  .fact::after,
  .fact::before {
    display: none;
  }
  .fact__title {
    margin-bottom: 55px;
  }
  .fact__btn {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .recommend {
    margin-top: -80px;
    padding-bottom: 65px;
  }
  .recommend__title {
    margin-bottom: 40px;
  }
  .recommend__info {
    font-size: 14px;
  }
  .recommend__subtitle {
    max-width: 200px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
  }
  .recommend__img {
    top: 340px;
    padding-right: 100px;
    max-width: 100%;
    overflow: hidden;
  }
  .recommend__fish-1 {
    top: 30px;
  }
  .recommend__fish-4 {
    bottom: 40px;
    right: 50px;
  }
  .recommend__fish-5 {
    bottom: 60px;
    right: 100px;
  }
  .recommend__fish-6 {
    bottom: 20px;
    right: 120px;
  }
  .recommend__line {
    p:first-of-type {
      padding: 12px 15px;
    }
    p:last-of-type,
    span {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
  .recommend__link {
    margin-top: 65px;
  }
  .recommend__btn {
    margin-top: 60px;
  }
  .person__title {
    margin-bottom: 20px;
  }
  .person__wrap {
    font-size: 14px;
    
    b {
      font-size: 18px;
    }
    p {
      margin-bottom: 20px;
    }
  }
  .person__list {
    margin-top: 1120px;
    font-size: 18px;
  }
  .person__quote {
    padding: 15px;
    padding-top: 60px;
    font-size: 14px;
    background-image: url(../img/images/frame-mobile.svg);
  }
  .person__field {
    padding-bottom: 63px;
  }
  .quality__wrap {
    padding-top: 70px;
    padding-bottom: 63px;
  }
  .quality__info {
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 14px;
    
    p {
      margin-bottom: 18px;
    }
  }
  .car__wrap {
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .car__info {
    margin-top: 50px;
    font-size: 14px;
    
    span {
      color: @black;
    }
    p {
      margin-bottom: 25px;
    }
  }
  .car__question {
    width: 58px;
    height: 85px;
    top: 20px;
  }
  .car__img {
    padding-top: 140px;
  }
  .benefits {
    padding-top: 75px;
    padding-bottom: 55px;
  }
  .benefits__list {
    margin-top: 40px;
  }
  .benefits__item {
    margin-bottom: 38px;
  }
  .life {
    padding-top: 90px;
    padding-bottom: 80px;
  }
  .life__info {
    font-size: 14px;
    line-height: 18px;
  }
  .life__subtitle {
    margin-top: 35px;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 24px;
  }
  .life__slogan {
    margin-bottom: 70px;
  }
  .life__number {
    margin-top: 30px;
    margin-bottom: 355px;
  }
  .reason__wrap {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .reason__item {
    p {
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 18px;
      
      span,
      b {
        font-size: 18px;
        line-height: 24px;
      }
      span {
        max-width: 300px;
      }
    }
  }
  .reason__icon {
    margin-bottom: 40px;
  }
  .ksf__wrap {
    padding-top: 435px;
  }
  .ksf .title {
    margin-bottom: 40px;
  }
  .ksf__column {
    font-size: 14px;
    line-height: 18px;
  }
  .ksf__block {
    padding: 25px 20px;
    margin-bottom: 105px;
  }
  .ksf__btn {
    height: 50px;
    font-size: 18px;
    line-height: 50px;
  }
  .ksf {
    padding-bottom: 60px;
  }
  .faq {
    padding-top: 55px;
    padding-bottom: 78px;
  }
  .faq__title {
    margin-bottom: 43px;
    padding-left: 5px;
    font-size: 24px;
  }
  .faq__columns {
    padding-left: 5px;
  }
  .faq__question {
    font-size: 14px;
    padding: 12px 0;
    min-height: auto;
    
    &::before {
      width: 13px;
      height: 15px;
    }
    &::after {
      left: -20px;
      right: -15px;
    }
  }
  .faq__answer {
    font-size: 14px;
    
    &::before {
      left: -20px;
      right: -15px;
    }
  }
  .faq__item--open {
    .faq__question {
      &::before {
        left: -15px;
      }
    }
  }
  .footer__block {
    width: 100%;
    
    &--policy {
      a {
        text-align: left;
      }
    }
  }
  .promo--whitelist,
  .promo--blacklist,
  .promo--portfolio {
    padding-top: 80px;
    
    h1 {
      margin-bottom: 10px;
    }
    .promo__text {
      margin-top: 445px;
      
      p {
        margin-bottom: 20px;
      }
    }
    .promo__last {
      margin-top: 35px;
    }
    .promo__wrap {
      padding-bottom: 53px;
    }
    .promo__info {
      max-width: 100%;
      margin: 0;
    }
  }
  .promo--blacklist .promo__links::after,
  .promo--portfolio .promo__links::after {
    width: 233px;
    height: 640px;
    top: -322px;
    left: -65px;
    background-image: url(../img/images/bg-portfolio-mobile.svg);
  }
  .promo--whitelist {
    .promo__text {
      margin-top: 430px;
    }
    .promo__pic {
      margin-top: 100px;
    }
  }
  .promo--blacklist {
    .promo__wrap::after {
      bottom: 10px;
    }
    .promo__pic {
      margin-top: 70px;
    }
  }
  .portfolio {
    padding-top: 55px;
  }
  .portfolio__nav {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0;
  }
  .portfolio__nav li {
    margin-bottom: 15px;
  }
  .portfolio__nav li a {
    font-size: 24px;
    line-height: 28px;
  }
  .blacklist__list,
  .portfolio__list {
    justify-content: flex-start;
  }
  .portfolio__list li {
    width: 320px;
    height: auto;
    max-width: 100%;
    padding-top: 70px;
  }
  .portfolio__preview {
    height: 320px;
  }
  .portfolio__info {
    opacity: 1;
    bottom: auto;
    padding: 0;
    color: @black;
    font-size: 14px;
    line-height: 18px;
    background-color: rgba(255,255,255,0) !important;
    
    p {
      margin: 0;
    }
    .portfolio__title {
      font-size: 18px;
      line-height: 24px;
      font-weight: 500;
    }
  }
  .portfolio__name,
  .portfolio__button {
    display: none;
  }
  .portfolio__preview {
    overflow: hidden;
  }
  .blacklist {
    padding-top: 90px;
    padding-bottom: 25px;
  }
  .blacklist__nav {
    margin-bottom: 80px;
  }
  .blacklist__nav li {
    margin-right: 50px;
    
    &:last-child {
      margin-right: 0;
    }
    a {
      border-width: 2px;
    }
  }
  .blacklist__notfound,
  .blacklist__nav li a {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
  }
  .blacklist__notfound {
    margin-bottom: 95px;
  }
  .blacklist__list li {
    width: 320px;
    position: relative;
    max-width: 100%;
    padding-top: 30px;
    margin-bottom: 50px;
  }
  .blacklist__name {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
  }
  .blacklist__type,
  .blacklist__date {
    display: none;
  }
  .blacklist__img {
    height: 320px;
  }
  .blacklist__reason {
    opacity: 1;
    position: static;
    height: auto;
    margin-bottom: 15px;
    padding: 0;
    color: #fff !important;
    font-size: 14px;
    line-height: 18px;
    background-color: rgba(255,255,255,0) !important;
    
    b {
      display: none;
    }
    p {
      margin: 0;
    }
  }
  .promo__pic {
    margin-left: 0;
    margin-top: 35px;
    text-align: center;
    
    img {
      width: 150px;
      height: 123px;
    }
  }
  .portfolio--whitelist {
    padding-top: 40px;
    
    .portfolio__nav li {
      margin-bottom: 40px;
    }
    .portfolio__nav li:first-child {
      a {
        font-size: 36px;
        line-height: 42px;
        font-weight: 500;
      }
    }
    .portfolio__list li {
      padding-top: 0;
      margin-bottom: 40px;
    }
    .portfolio__preview {
      height: 320px;
    }
    .portfolio__button {
      display: flex;
    }
  }
  .promo--member .promo__wrap {
    padding-bottom: 130px;
  }
  .promo--client .promo__links::after,
  .promo--member .promo__links::after {
    top: -265px;
    left: 68px;
  }
  .promo__list {
    padding-left: 30px;
    margin-top: 370px;
    
    li {
      padding-left: 70px;
      font-size: 18px;
      line-height: 24px;
    }
  }
  .promo--member .promo__pic {
    margin-top: 150px;
    margin-left: 0;
  }
  .price {
    padding-top: 100px;
    
    .wrapper {
      padding-left: 0;
      padding-right: 0;
    }
    .title {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .price__columns {
    display: block;
    margin-top: 205px;
  }
  .price__column {
    width: 100%;
  }
  .price__column--profy {
    margin-bottom: 30px;
    
    .price__list {
      border-right: 0;
    }
    &::before {
      left: 80px;
    }
    .price__head {
      padding-left: 15px;
    }
    .price__item::before {
      left: 5px;
    }
  }
  .payment__block--mobile {
    display: block;
    margin-bottom: 187px;
    padding-left: 15px;
    padding: 15px;
  }
  .payment__block--profy {
    display: none;
  }
  .price__head {
    padding: 30px 15px;
    height: auto;
    
    &::before {
      display: none;
    }
  }
  .price__item:first-child {
    padding-top: 0;
    height: 85px;
  }
  .payment__comment {
    max-width: 250px;
    display: block;
  }
  .price__column--newby {
    &::before {
      left: 20px;
    }
    .price__item {
      padding-left: 35px;
      
      &::before {
        left: 5px;
      }
      
      &:first-child {
        height: 110px;
        font-size: 18px;
        line-height: 24px;
        
        &::before {
          top: 50%;
        }
      }
    }
  }
  .price__old {
    font-size: 18px;
    line-height: 24px;
  }
  .payment {
    padding-top: 0;
    padding-bottom: 20px;
  }
  .payment__center {
    padding-top: 0;
    margin-bottom: 30px;
    width: 100%;
    
    b {
      display: block;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
    }
    .payment__comment {
      text-align: center;
      max-width: 100%;
    }
  }
  .timer {
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
  }
  .payment__block {
    width: 100%;
  }
  .timer-block {
    width: 95px;
    height: 55px;
  }
  .auto__title {
    font-size: 24px;
  line-height: 28px;
  }
  .auto__text {
    padding-top: 320px;
    font-size: 14px;
    line-height: 18px;
  }
  .auto__club {
    font-size: 18px;
    line-height: 24px;
  }
  .auto {
    height: 720px;
  }
  .auto__sun {
    display: block;
    width: 96px;
    height: 93px;
    left: 70px;
    top: 120px;
  }
  .auto__birds {
    left: 80px;
    top: 150px;
    width: 33px;
    height: auto;
  }
  .recommend__deco {
    padding-bottom: 70px;
    background-size: 85px 25px;
    background-position: top 140px left 20px;
  }
  .recommend--member {
    padding-bottom: 0;
    
    .title {
      margin-top: 85px;
      margin-bottom: 25px;
    }
  }
  .recommend__text p {
    margin-bottom: 20px;
    
    span {
      color: @green;
    }
  }
  .recommend--member .recommend__btn {
    margin-top: 45px;
  }
  .pill {
    position: relative;
    padding-top: 50px;
    
    .title {
      margin-bottom: 35px;
    }
  }
  .pill__text {
    margin-bottom: 110px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    
    p {
      margin-bottom: 20px;
    }
    &::after {
      bottom: -70px;
    }
  }
  .pill__logo {
    font-size: 14px;
    line-height: 18px;
  }
  .pill__btn {
    width: 95%;
    margin-top: 0;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
  }
  .pill__img {
    width: 100%;
    padding-top: 170px;
    padding-bottom: 100px;
  }
  .pill_info {
    margin-bottom: 0;
  }
  .pill__circle--top {
    .pill__tube-red,
    .pill__tube-white {
      width: 180px;
      height: auto;
    }
    .pill__tube-red {
      margin-top: -45px;
    }
  }
  .pill__circle--middle {
    .pill__tube-red,
    .pill__tube-white {
      width: 250px;
      height: auto;
    }
    .pill__tube-red {
      margin-top: -64px;
    }
  }
  .pill__circle--bottom .pill__tube-red {
    margin-top: -156px;
  }
  .closed {
    padding-top: 65px;
    padding-bottom: 70px;
    background-image: linear-gradient(-30deg, @red 0%, @red 50px, #fff 50px, #fff 51px, @red 51px, @red 100px, #fff 100px, #fff 101px, @red 101px, @red 150px, #fff 150px, #fff 151px, @red 151px, @red 200px, #fff 200px, #fff 201px, @red 201px, @red 250px, #fff 250px, #fff 251px, @red 251px, @red 100%);
    
    .title {
      margin-bottom: 60px;
    }
  }
  .closed__text {
    margin-top: 15px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    
    p {
      margin-bottom: 20px;
    }
  }
  .closed__info {
    margin-bottom: 25px;
  }
  .closed__list {
    margin-top: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    
    li {
      margin-bottom: 17px;
    }
  }
  .closed__subtitle {
    margin-bottom: 30px;
  }
  .rule {
    padding-top: 80px;
    padding-bottom: 50px;
    
    .title {
      margin-bottom: 50px;
    }
  }
  .rule__subtitle {
    font-size: 24px;
    line-height: 28px;
  }
  .rule__subtitle-2 {
    font-size: 18px;
    line-height: 24px;
  }
  .rule__text {
    position: relative;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 18px;
  }
  .rule__slogan {
    position: absolute;
    left: 0;
    bottom: -500px;
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
  }
  .rule__img {
    margin-top: -40px;
  }
  .rule__btn {
    height: 60px;
    margin-top: 125px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
  }
  .rule__btn + p {
    max-width: 200px;
    margin-top: 20px;
    padding-bottom: 0;
    margin-left: 0;
    font-size: 14px;
    line-height: 18px;
  }
  .promo--main .promo__wrap::after {
    width: 287px;
    height: 153px;
    bottom: -30px;
    left: 20px;
  }
  .promo--main .promo__wrap {
    padding-bottom: 103px;
  }
  .promo--client {
    padding-top: 95px;
    
    .promo__text {
      margin-top: 40px;
      max-width: 300px;
    }
  }
  .promo--client .promo__preview {
    margin-top: 405px;
    margin-bottom: 0;
  }
  .promo--client .promo__pic {
    margin-top: 30px;
  }
  .promo--client .promo__wrap {
    padding-bottom: 25px;
  }
  .service {
    padding-top: 35px;
    padding-bottom: 40px;
  }
  .service__slogan {
    margin-bottom: 90px;
  }
  .service__slogan::before {
    width: auto;
    height: 150px;
    left: -20px;
    right: -20px;
    background-size: 100% 100%;
  }
  .service__columns {
    display: block;
    padding-left: 20px;
  }
  .service__block--yellow,
  .service__block {
    width: 100%;
  }
  .service__list {
    margin-bottom: 45px;
  }
  .service__block--yellow {
    margin-left: 0;
  }
  .service__img {
    width: 100%;
    margin-bottom: 60px;
    
    img {
      width: 100%;
      height: auto;
    }
  }
  .question__wrap,
  .service__btns {
    display: block;
  }
  .service__btn {
    width: 100%;
    height: 50px;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .question {
    padding-top: 5px;
    padding-bottom: 55px;
    
    .title-2 {
      margin-bottom: 90px;
    }
  }
  .question__info {
    width: 100%;
    padding-bottom: 0;
    font-size: 14px;
    line-height: 18px;
    background-position: top 70px left;
  }
  .question__img {
    padding-left: 0;
    padding-top: 25px;
    
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .order {
    padding-top: 35px;
    margin-bottom: 60px;
    
    .title-2 {
      margin-top: 0;
      margin-bottom: 15px;
    }
  }
  .order__info {
    font-size: 14px;
    line-height: 18px;
  }
  .order__form {
    margin-top: 40px;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .order__btn,
  .order__input,
  .order__message {
    font-size: 18px;
    line-height: 24px;
  }
  .order__comment {
    margin-top: 10px;
  }
  .order__img img {
    width: 100%;
    height: auto;
  }
  .promo--profile .profile__info {
    display: block;
  }
  .profile__person {
    margin-left: 20px;
  }
  .profile__list {
    width: 100%;
    margin-top: 30px;
  }
  .profile__connect {
    margin-left: -20px;
    width: ~"calc(100% + 20px)";
  }
  .profile__about {
    margin-left: 20px;
    margin-top: 65px;
    font-size: 14px;
    line-height: 18px;
    
    p {
      margin-bottom: 20px;
    }
  }
  .project .title-2 {
    padding-left: 0;
  }
  .certificate .title-2 {
    padding-left: 0;
    font-size: 24px;
    line-height: 28px;
  }
  .certificate__slider {
    width: 292px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 40px;
    height: 40px;
    margin-top: -40px;
  }
  .swiper-button-next {
    right: -5px;
    border-radius: 5px 0 0 0;
  }
  .swiper-button-prev {
    left: -5px;
    border-radius: 0 5px 0 0;
  }
  .table__main {
    th:nth-child(n + 2) {
      display: none;
    }
    th:first-child {
      width: 100%;
      font-size: 36px;
      line-height: 42px;
      letter-spacing: 0.02em;
      font-weight: 500;
      padding-left: 0;
    }
    tr {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      padding: 20px 30px;
      border: 1px solid #000;
      border-bottom: 0;
      
      &:first-child {
        border: 0;
        padding: 0;
      }
      &:last-child {
        border-bottom: 1px solid #000;
      }
    }
    td {
      display: block;
      border: 0;
      padding: 0;
      width: auto;
      height: auto;
      
      &:first-child {
        width: 100%;
        padding-left: 0;
        margin-bottom: 15px;
      }
      &:nth-child(2) {
        width: 50%;
        color: @yellow;
        font-weight: 700;
      }
      &:nth-child(3) {
        width: 50%;
        color: @green;
        font-weight: 700;
      }
    }
  }
  .portfolio__large {
    width: 320px;
    height: 320px;
    max-width: 100%;
    margin-bottom: 50px;
  }
  .review__info,
  .project__list,
  .project__presentation,
  .project__work {
    width: 100%;
  }
  .project__slider .portfolio__info,
  .portfolio__large .portfolio__info {
    top: 100%;
    z-index: 10;
  }
  .project__slider .portfolio__info,
  .portfolio__large .portfolio__info {
    padding-top: 10px;
  }
  .review__slide {
    padding: 20px 24px;
  }
  .review__text {
    font-size: 14px;
    line-height: 18px;
  }
  #dp-next,
  #dp-prev {
    width: 40px;
    height: 40px;
    background-size: 15px 20px;
  }
  #dp-next {
    right: 10px;
  }
  #dp-prev {
    right: 0;
  }
  .profile {
    padding-top: 10px;
    
    h1 {
      margin-bottom: 5px;
    }
  }
  .profile__pic {
    margin-bottom: 45px;
  }
  .promo--profile .promo__wrap {
    padding-bottom: 60px;
  }
  .certificate__wrap {
    margin-bottom: 55px;
  }
  .project,
  .table {
    margin-bottom: 85px;
  }
  .project__slide {
    .portfolio__item {
      width: 320px;
      max-width: 100%;
      height: auto;
      padding-bottom: 70px;
      margin-bottom: 0;
      
      &:nth-child(n + 2) {
        display: none;
      }
      &:first-child {
        margin-bottom: 0;
      }
    }
    .portfolio__preview {
      width: 100%;
      height: 320px;
      position: relative;
      overflow: visible;
    }
  }
  .project__next,
  .project__prev {
    bottom: 60%;
  }
  .project__show {
    width: 100%;
  }
  .project__list {
    .portfolio__item {
      padding-top: 0;
      padding-bottom: 70px;
    }
    .portfolio__info {
      top: 330px;
    }
  }
  .project__star {
    top: -35px;
  }
  .modal__logo {
    display: none;
  }
  .modal__vertical {
    height: 100px;
    width: auto;
  }
  .modal__text {
    margin-left: 0;
  }
  .pill__tablet {
    top: -20px;
  }
  .profile__img {
    margin-bottom: 3px;
  }
  .project__presentation .swiper-container {
    margin-left: -5px !important;
  }
}

//------------------------------------------------------------------
@media (max-width: 360px) {
  .recommend__info {
    margin-bottom: 250px;
  }
}
@media (max-width: 766px) and (orientation: landscape) {
  .modal {
    position: absolute;
    height: auto;
  }
}
