.portfolio {
  padding-top: 140px;
}

.portfolio__nav {
  .reset();
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 55px;
  
  li {
    width: 249px;
    margin-right: 48px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    &:nth-child(4n) {
      margin-right: 0;
    }
    
    a {
      color: #001E20;
      font-weight: 500;
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 10px;
      border-bottom: 4px solid rgba(255,255,255,0);
      .transition();
    }
    
    p {
      margin-top: 0;
    }
  }
}

.portfolio__nav li:nth-child(2) {
  p {
    color: @red;
  }
  a {
    font-size: 24px;
    line-height: 28px;
    .transition();
  }
}

.portfolio__nav li:nth-child(3) {
  p {
    color: @green;
  }
  a {
    font-size: 24px;
    line-height: 28px;
    .transition();
  }
}

.portfolio__nav li:last-child {
  p {
    color: @yellow;
  }
  a {
    font-size: 24px;
    line-height: 28px;
    .transition();
  }
}

.portfolio__nav li:first-child a:hover,
.portfolio__nav li:first-child a.active {
  color: #000;
  border-color: #000;
  .transition();
}
.portfolio__nav li:nth-child(2) a:hover,
.portfolio__nav li:nth-child(2) a.active {
  color: #FF513F;
  border-color: #FF513F;
  .transition();
}
.portfolio__nav li:nth-child(3) a:hover,
.portfolio__nav li:nth-child(3) a.active {
  color: @green;
  border-color: @green;
  .transition();
}

.portfolio__nav li:last-child a:hover,
.portfolio__nav li:last-child a.active {
  color: @yellow;
  border-color: @yellow;
  .transition();
}


.portfolio__list {
  .reset();
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 75px;
  margin-right: -48px;
  
  li {
    position: relative;
    z-index: 1;
    width: 249px;
    height: 249px;
    margin-right: 48px;
    margin-bottom: 48px;
    overflow: hidden;
  }
}

.portfolio__list li.hidden {
  display: none;
}

.portfolio__preview {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid #001E20;
  
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50%;
  }
  
  &:hover {
    .portfolio__contacts,
    .portfolio__info {
      opacity: 1;
      .transition();
    }
  }
}

.portfolio__contacts,
.portfolio__info {
  position: absolute;
  z-index: 2;
  padding: 20px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #001E20;
  .transition();
  
  p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
  }
}

.portfolio__text {
  font-weight: 300;
}

.portfolio__title,
.portfolio__name {
  font-weight: 400;
}

.portfolio__button {
  width: 100%;
  height: 38px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  background-color: @red;
  .transition();
  
  &:hover,
  &:active {
    background-color: @green;
    .transition();
  }
}

.portfolio__advert {
  .portfolio__preview {
    border: 10px solid @green;
  }
  .portfolio__contacts,
  .portfolio__info {
    background-color: @green;
  }
  .portfolio__button {
    &:hover,
    &:active {
      background-color: @yellow;
      .transition();
    }
  }
}

.portfolio__other {
  .portfolio__preview {
    border: 10px solid @yellow;
  }
  .portfolio__contacts,
  .portfolio__info {
    color: @black;
    background-color: @yellow;
  }
}

.portfolio__web {
  .portfolio__preview {
    border: 10px solid @red;
  }
  .portfolio__contacts,
  .portfolio__info {
    background-color: @red;
  }
  .portfolio__button {
    background-color: @green;
    
    &:hover,
    &:active {
      color: @black;
      background-color: @yellow;
      .transition();
    }
  }
}

.portfolio--whitelist {
  .portfolio__list {
    margin-bottom: 0;
    
    li {
      height: auto;
      overflow: visible;
      margin-bottom: 90px;
    }
  }
  .portfolio__preview {
    position: relative;
    height: 249px;
    overflow: hidden;
    margin-bottom: 18px;
  }
  .portfolio__button {
    margin-top: 18px;
  }
}

.portfolio__img {
  width: 100%;
  height: 100%;
  
  img {
    display: block;
    width: auto;
    max-width: none;
    height: 100%;
    object-fit: cover;
    object-position: 50%;
  }
}

.portfolio__tel {
  display: block;
  margin-top: auto;
  
  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.portfolio__vk,
.portfolio__mail {
  display: block;
  margin-top: 7px;
  text-decoration: underline;
  
  &:hover,
  &:active {
    text-decoration: none;
  }
}

.portfolio__content {
  p {
    margin: 0;
  }
}

.portfolio__person {
  display: block;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}
