.promo {
  position: relative;
  padding-top: 75px;
  overflow: hidden;
}

.promo--blacklist,
.promo--portfolio {
  color: #fff;
  background-color: @green;

  &::after {
    content: "";
    position: absolute;
    width: 1363px;
    height: 1151px;
    z-index: 101;
    top: -3px;
    right: 50vw;
    transform: translateX(413px);
    background-image: url(../img/images/bg-portfolio.svg);
    pointer-events: none;
  }
  .promo__wrap {
    padding-bottom: 140px;

    &::after {
      display: none;
    }
  }
  h1 {
    margin-bottom: 60px;
    color: #fff;
  }
  .promo__info {
    max-width: 600px;
    margin-right: 145px;
  }
  .promo__preview {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.promo--blacklist {
  background-color: @black;
  
  &::after {
    width: 1363px;
    height: 1267px;
    background-image: url(../img/images/bg-blacklist.svg);
  }
  .promo__preview {
    color: @red;
  }
  .promo__pic {
    img {
      width: 144px;
      height: 134px;
    }
  }
}

.promo__wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding-bottom: 150px;
  
  &::after {
    content: "";
    position: absolute;
    bottom: -75px;
    right: 150px;
    width: 720px;
    height: 379px;
    background-image: url(../img/images/people.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.promo__preview {
  margin-top: 80px;
  margin-bottom: 85px;
  font-size: 36px;
  line-height: 42px;
  font-weight: 500;
  letter-spacing: 0.02em;
  
  span {
    color: @yellow;
  }
}

.promo__slogan {
  margin-top: 69px;
  margin-bottom: 70px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.promo__info {
  max-width: 500px;
  margin-right: 190px;
  
  span {
    color: @yellow;
  }
}

.promo__img {
  img {
    width: 140px;
    height: 140px;
  }
}

.promo__last {
  margin-top: 55px;
}

.promo__text {
  margin-top: 57px;
  
  p {
    margin-bottom: 30px;
  }
}

.promo__links {
  margin-top: 100px;
  position: relative;
  z-index: 5;
}

.promo__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 234px;
  height: 234px;
  overflow: hidden;
  
  img {
    display: block;
    max-width: none;
    height: 100%;
    width: auto;
    .transition();
  }
  
  &:hover,
  &:active {
    img {
      transform: scale(1.05);
      .transition();
    }
  }
  
  &--black {
    transform: rotateX(55deg) rotateY(0deg) rotateZ(-45deg);
    background-color: #001E20;
    
    img {
//      width: 600px;
//      transform: rotateZ(45deg) rotateY(55deg) rotateX(0deg);
    }
  }
  &--green {
    position: absolute;
    top: 143px;
    left: -82px;
    background-color: #007550;
    transform: rotateX(35deg) rotateY(45deg) rotateZ(0deg);
    
    img {
//      transform: rotateZ(0deg) rotateY(-45deg) rotateX(-35deg);
    }
  }
  &--white {
    position: absolute;
    top: 143px;
    right: -82px;
    background-color: #fff;
    transform: rotateX(-35deg) rotateY(45deg) rotateZ(0deg);
  }
  &--red {
    position: absolute;
    top: 143px;
    right: -247px;
    background-color: #FF513F;
    transform: rotateX(35deg) rotateY(45deg) rotateZ(0deg);
  }
  &--yellow {
    position: absolute;
    bottom: -286px;
    right: -165px;
    background-color: #FFC856;
    transform: rotateX(55deg) rotateY(0deg) rotateZ(-45deg);
  }
}

.promo__pic {
  margin-top: 140px;
  margin-left: 10px;
  
  img {
    width: 180px;
    height: 148px;
  }
}
