.quality {
  background-color: #FF513F;
  overflow: hidden;
}

.quality__wrap {
  position: relative;
  padding-top: 95px;
  padding-bottom: 90px;
  
  &::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translateY(-50%);
    width: 1056px;
    height: 1115px;
    background-image: url(../img/images/steps-black.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.quality__img {
  margin-bottom: 15px;
}

.quality__info {
  margin-top: 70px;
  margin-bottom: 85px;
  
  span {
    color: #fff;
  }
  
  p {
    max-width: 600px;
    margin-bottom: 25px;
  }
}

.quality__btn {
  width: 300px;
}
