.question {
  padding-top: 100px;
  padding-bottom: 100px;
}

.question__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question__img {
  width: 178px;
  margin-left: auto;
  margin-right: auto;
  
  img {
    display: block;
    width: 178px;
    height: 261px;
  }
}

.question__info {
  width: 570px;
  padding-bottom: 100px;
  background-image: url(../img/images/deco-green-small.svg);
  background-repeat: no-repeat;
  background-size: 144px 31px;
  background-position: bottom left;
}
