.review {
  margin-bottom: 200px;
  
  .title-2 {
    margin-bottom: 40px;
    padding-left: 50px;
  }
}

.review__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.review__img {
  width: 261px;
  margin-right: 100px;
  
  img {
    width: 261px;
    height: 439px;
  }
}

.review__info {
  width: 645px;
  position: relative;
}

.review__slide {
  box-sizing: border-box;
  padding: 46px;
  background-color: #fff;
  border: 1px solid #000000;
}

.review__avatar {
  width: 72px;
  height: 72px;
  overflow: hidden;
  margin-bottom: 35px;
  
  img {
    display: block;
    width: 72px;
    height: 72px;
    object-fit: cover;
    object-position: 50%;
  }
}

.review__name {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #000;
}

.review__text {
  max-width: 390px;
}

.dp-wrap {
  margin: 0 auto;
  position: relative;
  perspective: 1000px;
  height: 100%;
}

.dp-slider {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

.dp-slider div { transform-style: preserve-3d; }

.dp_item {
  display: block;
  position: absolute;
  transition: transform 1.2s;
  overflow: hidden;
  
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background-image: url(../img/images/paper-angle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    .transition();
  }
}

#dp-slider .dp_item:first-child {
  z-index: 10 !important;
  transform: rotateY(0deg) translateX(0px) translateY(30px) !important;
  
  &::after {
    opacity: 1;
    width: 62px;
    height: 62px;
    .transition();
  }
}

.dp_item[data-position="2"] {
  z-index: 9;
//  transform: rotateY(0deg) translateX(10%) scale(0.9);
  transform: rotateY(0deg) translateX(10px) translateY(20px);
}

.dp_item[data-position="3"] {
  z-index: 8;
//  transform: rotateY(0deg) translateX(20%) scale(0.8);
  transform: rotateY(0deg) translateX(20px) translateY(10px);
}

.dp_item:nth-child(n+4),
.dp_item[data-position="4"] {
  z-index: 7;
//  transform: rotateY(0deg) translateX(30%) scale(0.7);
  transform: rotateY(0deg) translateX(30px) translateY(0);
}

#dp-next,  #dp-prev {
  position: absolute;
  width: 78px;
  height: 78px;
  cursor: pointer;
  border: 1px solid #000;
  background-image: url(../img/icons/angle_right.svg);
  background-repeat: no-repeat;
  background-size: 26px 31px;
  background-position: center;
  background-color: #fff;
}

#dp-prev {
  top: 190px;
  right: 40px;
  transform: rotate(180deg);
  z-index: -1;
}

#dp-next {
  top: 200px;
  right: 50px;
  z-index: 10;
}

.dp_item { width: 85%; }

.dp-content,  .dp-img { text-align: left; }

.dp_item {
  display: block;
  background: #fff;
  overflow: hidden;
}

#dp-slider,  .dp-img img { height: 738px; }

#dp-slider .dp_item:hover:not(:first-child) { cursor: pointer; }
