.service {
  padding-top: 55px;
  padding-bottom: 80px;
  color: #fff;
  background-color: @black;
  overflow: hidden;
  
  .title-2 {
    margin-bottom: 90px;
    color: #fff;
  }
}

.service__slogan {
  position: relative;
  z-index: 2;
  width: 420px;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 100px;
  color: #001E20;
  
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -33px;
    transform: translateY(-50%);
    z-index: -1;
    width: 463px;
    height: 147px;
    background-image: url(../img/images/frame-white.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.service__wrap {
  position: relative;
  z-index: 2;
}

.service__img {
  position: absolute;
  z-index: -1;
  top: -110px;
  right: -30px;
  width: 510px;
  
  img {
    display: block;
    width: 510px;
    height: 528px;
  }
}

.service__columns {
  display: flex;
  justify-content: flex-start;
}

.service__block {
  width: 300px;
  display: flex;
  flex-direction: column;
  
  &--yellow {
    width: 400px;
    margin-left: 35px;
    
    .service__title {
      color: @yellow;
    }
    .service__list li::after {
      height: 10px;
      background-image: url(../img/icons/next-yellow.svg);
    }
    .service__list {
      padding-top: 25px;
    }
  }
}

.service__title {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: @red;
}

.service__list {
  .reset();
  list-style: none;
  margin-bottom: 50px;
  
  li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 1px;
    
    &::after {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      width: 8px;
      height: 9px;
      background-image: url(../img/icons/next-red.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
    &:last-child::after {
      display: none;
    }
  }
}

.service__btns {
  display: flex;
  justify-content: flex-start;
}

.service__btn {
  width: 300px;
  margin-top: auto;
  margin-right: 35px;
  font-size: 18px;
  line-height: 24px;
}
